
.hud
    &-container
        position: absolute
        top: 0
        left: 0
        width: 94vw
        height: 94vh
        margin: 3vh 3vw

        pointer-events: none

        color: white

    &-ia-play
        position: absolute
        bottom: 0
        pointer-events: auto

        &-content
            position: relative

        &-stretcher
            visibility: hidden

        &-text
            position: absolute
            left: 0
            top: 0

.winner-popup
    position: absolute
    z-index: 1
    width: 100%
    height: 100%

    background-color: rgba(0, 0, 0, 0.5)

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    pointer-events: auto

    &-title
        font-weight: 400
        font-size: 3rem


